html,
body {
    height: 100%;
    background-color: #108a93 !important;
    color: white !important;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

#content {
    padding-top: 60px;
}

#footer {
    height: 60px;
}

.page-header {
    font-size: 5em;
}